In [1]:
print('hello world')

hello world

### conditional statement
- if
- else 
- elif

In [4]:
weather = 'rain'

if weather == "rain":
    print('wear raincoat')
else:
    print('do not')

wear raincoat

In [4]:
# nested if-else

num = int(input("enter the input: "))

if num > 50:
    if num > 90:
        print(f'output is {num + 30}')
    else:
        print(f'output is {num - 30}')
else:
    print(f'Given input is {num}')

Given input is 33

### Loops

- for
- while

In [9]:
list1 = [10,20,30,40,50]
list1

[10, 20, 30, 40, 50]

In [10]:
for x in list1:
    print(x)

10
20
30
40
50

In [11]:
for a in "Hello world":
    print(a.upper())

H
E
L
L
O

W
O
R
L
D

In [12]:
list(range(10,40,5))

[10, 15, 20, 25, 30, 35]

In [13]:
for i in range(10):
    print(i+3)

3
4
5
6
7
8
9
10
11
12

In [14]:
# nested for loop
list1

[10, 20, 30, 40, 50]

In [15]:
list2 = [[1,2,3],[4,5,6]]
list2

[[1, 2, 3], [4, 5, 6]]

In [17]:
for a in list2:
    print(a)
    for b in a:
        print(b)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6

In [18]:
# while loop

i = 1

while i<=5:
    print(i)
    i += 1

1
2
3
4
5

In [22]:
# break 

num = 1
while num<=10:
    if num == 5:
        break
    print(num)
    num += 1

1
2
3
4