In [2]:
print('hello world')

hello world

### Data structures
- List -> representation [] , Heterogenous, Ordered and Indexed, Mutable
- Tuple
- Set
- Dictionary

In [3]:
list1 = [23, 'hello', 45.67, True]
print(list1)
print(type(list1))

[23, 'hello', 45.67, True]
<class 'list'>

In [4]:
list2 = []
print(list2)

[]

In [5]:
# heterogenous list
lst4 = ['abc',True,1,4,34.33,]
print(lst4)
len(lst4)

['abc', True, 1, 4, 34.33]

5

In [6]:
# nested list 

list5 = [1,2,3,[4,5,4,5],[12,312,32,[23,34,3,[34,34,3,3,3]],3,3],232,23]
list5

[1,
 2,
 3,
 [4, 5, 4, 5],
 [12, 312, 32, [23, 34, 3, [34, 34, 3, 3, 3]], 3, 3],
 232,
 23]

In [7]:
list1[2]

45.67

In [8]:
list1[-2]

45.67

### List functions

- add -> append, extend, insert
- remove -> pop, remove, clear

In [9]:
list1

[23, 'hello', 45.67, True]

In [10]:
list1.append('apple')
list1

[23, 'hello', 45.67, True, 'apple']

In [11]:
list1.extend(['a','c',False])
list1

[23, 'hello', 45.67, True, 'apple', 'a', 'c', False]

In [12]:
list1.remove(False)
list1

[23, 'hello', 45.67, True, 'apple', 'a', 'c']

In [13]:
list1.insert(0,['a','b','c'])

In [14]:
list1

[['a', 'b', 'c'], 23, 'hello', 45.67, True, 'apple', 'a', 'c']

In [2]:
list6 = [1,2,3,[4,5,6,7,8,9],[10,11,12,13,[14,15,16,[17,18,19,20]],21,22],23,24,25]

list6[-4][-3][-1][-2]

19

In [27]:
list6[-4][-5]

12

In [28]:
innerlist = list6[-4][-3][-1]
output = innerlist[2::-1]
print(output)

[19, 18, 17]

In [32]:
# Extract values from 19 to 12 (inclusive) from the nested structure in list6
list6 = [1,2,3,[4,5,6,7,8,9],[10,11,12,13,[14,15,16,[17,18,19,20]],21,22],23,24,25]
target_list = list6[-4][-1][0]  # [14, 15, 16, [17, 18, 19, 20]]
inner_list = target_list[-1]     # [17, 18, 19, 20]
result = inner_list[2::-1]       # [19, 18, 17]
outer_list = list6[-4][-1]       # [14, 15, 16, [17, 18, 19, 20]]
flat = outer_list[:3][::-1]      # [16, 15, 14]
final = result + flat            # [19, 18, 17, 16, 15, 14]
# Add 13 and 12 from the next level up
final += [13, 12]
print(final)  # Output: [19, 18, 17, 16, 15, 14, 13, 12]

TypeError: 'int' object is not subscriptable

In [41]:
list6 = [1,2,3,[4,5,6,7,8,9],[10,11,12,13,[14,15,16,[17,18,19,20]],21,22],23,24,25]

# Access the innermost list [17, 18, 19, 20]
inner = list6[4][4][3]
# Get [19, 18, 17] in reverse
part1 = inner[2::-1]

# Access [14, 15, 16]
mid = list6[4][4][:3][::-1]

# Add 13 and 12
rest = [list6[4][3], list6[4][2]]

# Combine all
result = part1 + mid + rest
print(result)  # Output: [19, 18, 17, 16, 15, 14, 13, 12]

[19, 18, 17, 16, 15, 14, 13, 12]

### Tuples

- Representation: ()
- Heterogenous
- Ordered and indexed
- Immutable

In [37]:
t1 = tuple((1,2,3,4,5))
print(t1)
type(t1)

(1, 2, 3, 4, 5)

tuple

In [38]:
t2 = ()
type(t2)

tuple

In [ ]:
t3 = (False,123,23,4.44,"String",True)
print(t3)
type(t3)

(False, 123, 23, 4.44, 'String', True)

tuple

In [49]:
t3 = (1,2,3,4,5,(6,7,8,9,10,11),12,13)

print(t3[6])
print(t3[-6])
print(t3[5][4])

12
3
10

In [50]:
t4 = (1,2,3,(4,5,6,7,8,(9,10,11,12,13,14,15),16,17,18,(22,23,24,25)),19,20,21)

t4[-2]

20

In [51]:
t4[3][5][3]

12

In [54]:
t4[-4][-5][-4]

# 2^3 no of possibilities

12

In [56]:
## slicing
t3

(1, 2, 3, 4, 5, (6, 7, 8, 9, 10, 11), 12, 13)

In [59]:
t3 = (False,100,372,7.77,'String',"value",True,8888)
t3[-7:-2]

(100, 372, 7.77, 'String', 'value')

In [60]:
t3[5:]

('value', True, 8888)

In [63]:
t3[:4:-1]

(8888, True, 'value')

In [64]:
t3[3::-2]

(7.77, 100)

### Set properties 
- Union
- Intersection
- Difference

In [1]:
A = {1,2,3,4,5,6,7,8}
B = {5,6,7,8,9,10,11,12}

In [2]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [4]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [5]:
A.intersection(B)

{5, 6, 7, 8}

In [6]:
B.intersection(A)

{5, 6, 7, 8}

In [7]:
A.difference(B)

{1, 2, 3, 4}

In [8]:
B.difference(A)

{9, 10, 11, 12}

### Dictionaries
- Representation : {}
- Key:value pairs
- Heterogenous
- Keys are unique
- Ordered and indexed
- Mutable

In [9]:
dict1 = {1:100,2:200,3:300,4:400,5:500}
print(dict1)
type(dict1)

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500}

dict

In [10]:
len(dict1)

5

In [17]:
# Heterogenous
dict2 = dict({1:'Apple',"name":"xyz",False:10.1010,20.93:True})
dict2

{1: 'Apple', 'name': 'xyz', False: 10.101, 20.93: True}

In [18]:
dict3 = {"Name":{1,2,3,4,5,6},"age":{7,8,9,10,11},"grade":"A+"}
dict3

{'Name': {1, 2, 3, 4, 5, 6}, 'age': {7, 8, 9, 10, 11}, 'grade': 'A+'}

In [19]:
dict2['name']

'xyz'

In [ ]:
# Convert the set to a list to access elements by index
list(dict3["Name"])[0]

1

In [28]:
list(dict3["age"])[0]

7

In [31]:
list(dict3["age"])[3]

10

In [58]:
dict4 = {1:100, 2:{'a': 'b', 20: {"fruit": "Apple", "Vegetable":"Banana",'Age': [1,2,3,4,5]} ,True: 5283,'Hello':['Python', 'World', 'Java']},

'Continent': {
    "Asia":{'India': 'Delhi','Sri Lanka': 'Colombo','Japan':'Tokyo'}
    ,'N.America': {'Canada': 'Ottawa','Mexico': 'Mexico City'},

'South America':{'Brazil': "Brazilia",'Agrentina':'Beunos Aries'},

'Europe': [10,20,30,40,50]}}

In [59]:
dict4

{1: 100,
 2: {'a': 'b',
  20: {'fruit': 'Apple', 'Vegetable': 'Banana', 'Age': [1, 2, 3, 4, 5]},
  True: 5283,
  'Hello': ['Python', 'World', 'Java']},
 'Continent': {'Asia': {'India': 'Delhi',
   'Sri Lanka': 'Colombo',
   'Japan': 'Tokyo'},
  'N.America': {'Canada': 'Ottawa', 'Mexico': 'Mexico City'},
  'South America': {'Brazil': 'Brazilia', 'Agrentina': 'Beunos Aries'},
  'Europe': [10, 20, 30, 40, 50]}}

In [62]:
dict4['Continent']['Asia']['Japan']

'Tokyo'

In [63]:
dict4['Continent']['South America']['Agrentina']

'Beunos Aries'

In [64]:
dict4['Continent']['Europe'][1]

20