In [10]:
print('hello world')

hello world

In [11]:
import numpy as np
import pandas as pd
from pathlib import Path

In [12]:
# To create a folder 

OUT = Path('pandas3')
OUT.mkdir(exist_ok=True)

In [13]:
cities = pd.DataFrame([{'city_id':1,'city_name':'Hyderabad','population':10,'avg_temp':30},
                      {'city_id':2,'city_name':'Delhi','population':20,'avg_temp':35},
                      {'city_id':3,'city_name':'Jaipur','population':4,'avg_temp':28},
                      {'city_id':4,'city_name':'Kochi','population':2.1,'avg_temp':33},
                      {'city_id':5,'city_name':'Mumbai','population':30,'avg_temp':36}])
cities

   city_id  city_name  population  avg_temp
0        1  Hyderabad        10.0        30
1        2      Delhi        20.0        35
2        3     Jaipur         4.0        28
3        4      Kochi         2.1        33
4        5     Mumbai        30.0        36

In [25]:
places =pd.DataFrame([
    {'place_id':101,'place_name':'chairminar','city_name':'hydrabad','type':'historical','rating':4.5,'entry_fees':25,'visitings':2.5},
    {'place_id':102,'place_name':'golconda','city_name':'hydrabad','type':'historical','rating':4.6,'entry_fees':30,'visitings':1.8},
    {'place_id':103,'place_name':'india gate','city_name':'delhi','type':'monument','rating':4.7,'entry_fees':0,'visitings':5.2},
    {'place_id':104,'place_name':'red fort','city_name':'delhi','type':'monument','rating':4.5,'entry_fees':35,'visitings':4.1},
    {'place_id':105,'place_name':'hawa mahal','city_name':'jaipur','type':'palace','rating':4.6,'entry_fees':50,'visitings':2.9},
    {'place_id':106,'place_name':'amber fort','city_name':'jaipur','type':'fort','rating':4.7,'entry_fees':40,'visitings':3.5},
    {'place_id':107,'place_name':'foty kochi','city_name':'kochi','type':'beach','rating':4.4,'entry_fees':0,'visitings':1.1},
    {'place_id':108,'place_name':'baga beach','city_name':'goa','type':'beach','rating':4.5,'entry_fees':0,'visitings':2},
])

In [26]:
places

   place_id  place_name city_name        type  rating  entry_fees  visitings
0       101  chairminar  hydrabad  historical     4.5          25        2.5
1       102    golconda  hydrabad  historical     4.6          30        1.8
2       103  india gate     delhi    monument     4.7           0        5.2
3       104    red fort     delhi    monument     4.5          35        4.1
4       105  hawa mahal    jaipur      palace     4.6          50        2.9
5       106  amber fort    jaipur        fort     4.7          40        3.5
6       107  foty kochi     kochi       beach     4.4           0        1.1
7       108  baga beach       goa       beach     4.5           0        2.0

In [30]:
cities.to_csv('cities.csv',index=False)
places.to_csv('places.csv',index=False)

# print('created csv in the folder',OUT.resolve())

In [31]:
df_cities = pd.read_csv('cities.csv')
df_places = pd.read_csv('places.csv')

print(df_cities.head())

   city_id  city_name  population  avg_temp
0        1  Hyderabad        10.0        30
1        2      Delhi        20.0        35
2        3     Jaipur         4.0        28
3        4      Kochi         2.1        33
4        5     Mumbai        30.0        36

In [32]:
print(df_places.head())

   place_id  place_name city_name        type  rating  entry_fees  visitings
0       101  chairminar  hydrabad  historical     4.5          25        2.5
1       102    golconda  hydrabad  historical     4.6          30        1.8
2       103  india gate     delhi    monument     4.7           0        5.2
3       104    red fort     delhi    monument     4.5          35        4.1
4       105  hawa mahal    jaipur      palace     4.6          50        2.9

In [34]:
merged = pd.merge(df_cities,df_places,on='city_name',how='right')
merged

,city_id,city_name,population,avg_temp,place_id,place_name,type,rating,entry_fees,visitings
0,NaN,hydrabad,NaN,NaN,101,chairminar,historical,4.5,25,2.5
1,NaN,hydrabad,NaN,NaN,102,golconda,historical,4.6,30,1.8
2,NaN,delhi,NaN,NaN,103,india gate,monument,4.7,0,5.2
3,NaN,delhi,NaN,NaN,104,red fort,monument,4.5,35,4.1
4,NaN,jaipur,NaN,NaN,105,hawa mahal,palace,4.6,50,2.9
5,NaN,jaipur,NaN,NaN,106,amber fort,fort,4.7,40,3.5
6,NaN,kochi,NaN,NaN,107,foty kochi,beach,4.4,0,1.1
7,NaN,goa,NaN,NaN,108,baga beach,beach,4.5,0,2.0

In [35]:
merged[merged['rating']>4.5]

,city_id,city_name,population,avg_temp,place_id,place_name,type,rating,entry_fees,visitings
1,NaN,hydrabad,NaN,NaN,102,golconda,historical,4.6,30,1.8
2,NaN,delhi,NaN,NaN,103,india gate,monument,4.7,0,5.2
4,NaN,jaipur,NaN,NaN,105,hawa mahal,palace,4.6,50,2.9
5,NaN,jaipur,NaN,NaN,106,amber fort,fort,4.7,40,3.5

In [15]:
# places=pd.DataFrame([
#     {'place_id':101,'city_name':'hyderabad','place_name':'kukatpally','type':'historical','rating':7},
#     {'place_id':103,'city_name':'banglore','place_name':'iskon','type':'devotional','rating':9},
#     {'place_id':104,'city_name':'agra','place_name':'taj','type':'historical','rating':5},
#     {'place_id':110,'city_name':'chennai','place_name':'merina_beach','type':'nature','rating':9},
#     {'place_id':109,'city_name':'jaipur','place_name':'fort','type':'historical','rating':9},
#     {'place_id':150,'city_name':'lacknow','place_name':'nothing','type':'empty','rating':8},
#     {'place_id':209,'city_name':'udaipur','place_name':'court','type':'government','rating':6},
#     {'place_id':119,'city_name':'thirupathi','place_name':'temple','type':'devotional','rating':10},

# ])
# places