In [2]:
print('hello world')

hello world

Two types of datastructures

- Series
- Dataframe

In [3]:
a1 = [5,2,8,3,9]
a1

[5, 2, 8, 3, 9]

In [4]:
import pandas as pd

In [5]:
pd.Series(a1)

0    5
1    2
2    8
3    3
4    9
dtype: int64

In [6]:
pd.Series([5.7,2.3,9.1])

0    5.7
1    2.3
2    9.1
dtype: float64

In [7]:
pd.Series(['apple','banana','orange'])

0     apple
1    banana
2    orange
dtype: object

In [8]:
s1 = {2,3,4,5}
s1

{2, 3, 4, 5}

In [9]:
# pd.Series(s1)

In [10]:
d1 = {'a':1,'b':2,'c':3}
d1

{'a': 1, 'b': 2, 'c': 3}

In [11]:
pd.Series(d1)

a    1
b    2
c    3
dtype: int64

In [12]:
import numpy as np

numparray = np.array([2,3,4,5])
numparray

array([2, 3, 4, 5])

In [13]:
pd.Series(numparray)

0    2
1    3
2    4
3    5
dtype: int64

In [14]:
b = pd.Series(a1, index=['1','2','3','4','5'])
b

1    5
2    2
3    8
4    3
5    9
dtype: int64

In [15]:
b[4]

C:\Users\SAMI\AppData\Local\Temp\ipykernel_15076\3059827491.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  b[4]

np.int64(9)

In [16]:
b['4']

np.int64(3)

In [17]:
b[1] = 23

C:\Users\SAMI\AppData\Local\Temp\ipykernel_15076\1564152031.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  b[1] = 23

In [18]:
b

1     5
2    23
3     8
4     3
5     9
dtype: int64

### Dataframe

In [19]:
a2 = [[2,4,6,8],[3,5,7,9],[1,2,3,5]]
a2

[[2, 4, 6, 8], [3, 5, 7, 9], [1, 2, 3, 5]]

In [20]:
df1 = pd.DataFrame(a2)
df1

   0  1  2  3
0  2  4  6  8
1  3  5  7  9
2  1  2  3  5

In [21]:
arr2 = np.array(a2)
arr2

array([[2, 4, 6, 8],
       [3, 5, 7, 9],
       [1, 2, 3, 5]])

In [22]:
pd.DataFrame(arr2)

   0  1  2  3
0  2  4  6  8
1  3  5  7  9
2  1  2  3  5

In [23]:
df2 = pd.DataFrame(a2, index=['a','b','c'],columns=['A','B','C','D'])
df2

   A  B  C  D
a  2  4  6  8
b  3  5  7  9
c  1  2  3  5

In [24]:
d2 = {'a':[2,4,6],'b':[1,3,5],'c':[10,20,30]}
d2

{'a': [2, 4, 6], 'b': [1, 3, 5], 'c': [10, 20, 30]}

In [25]:
s2 = pd.Series(d2)
s2

a       [2, 4, 6]
b       [1, 3, 5]
c    [10, 20, 30]
dtype: object

In [26]:
pd.DataFrame(d2)

   a  b   c
0  2  1  10
1  4  3  20
2  6  5  30

In [27]:
dictt = {'name':['chandu','dilshad','sharan'],'subject':['maths','science','hindi'],'marks':[66,77,88]}

pd.DataFrame(dictt)

      name  subject  marks
0   chandu    maths     66
1  dilshad  science     77
2   sharan    hindi     88

In [28]:
lstt = [['chandu','maths',48],['dilshad','science',99],['sharan','hindi',66]]

pd.DataFrame(lstt, columns=['name','subject','marks'])

      name  subject  marks
0   chandu    maths     48
1  dilshad  science     99
2   sharan    hindi     66

In [29]:
df1.rename(index= {1:'b'})

   0  1  2  3
0  2  4  6  8
b  3  5  7  9
2  1  2  3  5

In [30]:
df1.rename(index= {1:'b'},inplace=True)
df1

   0  1  2  3
0  2  4  6  8
b  3  5  7  9
2  1  2  3  5

In [31]:
df2.rename(index={'c':'C'})

   A  B  C  D
a  2  4  6  8
b  3  5  7  9
C  1  2  3  5

In [32]:
df2.loc['b','C'] # using row and column name

np.int64(7)

In [33]:
df2.iloc[2,1] # using only index number

np.int64(2)

In [34]:
df2.iloc[[0,2],[0,2]]

   A  C
a  2  6
c  1  3

In [35]:
df2.iloc[1:]

   A  B  C  D
b  3  5  7  9
c  1  2  3  5

### pandas_basics

In [36]:
df = pd.read_csv('D:/Amrita University/Final year project/New folder/synthetic_cognitive_ability_data.csv')
df

,memory_score,logic_score,attention_score,reaction_time,visual_accuracy,verbal_fluency,emotional_control,processing_speed,multitasking,task_switching,reward
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,0.058084,0.866176,0.601115,0.708073,0.492737
1,0.020584,0.969910,0.832443,0.212339,0.181825,0.183405,0.304242,0.524756,0.431945,0.291229,0.306149
2,0.611853,0.139494,0.292145,0.366362,0.456070,0.785176,0.199674,0.514234,0.592415,0.046450,0.340979
3,0.607545,0.170524,0.065052,0.948886,0.965632,0.808397,0.304614,0.097672,0.684233,0.440152,0.458791
4,0.122038,0.495177,0.034389,0.909320,0.258780,0.662522,0.311711,0.520068,0.546710,0.184854,0.363898
...,...,...,...,...,...,...,...,...,...,...,...
9995,0.108506,0.246123,0.403444,0.797405,0.776996,0.244177,0.361254,0.059112,0.378390,0.168325,0.210984
9996,0.919552,0.807998,0.165067,0.490769,0.958325,0.410606,0.448090,0.341505,0.492266,0.596565,0.569051
9997,0.089951,0.092531,0.769020,0.982755,0.491244,0.861379,0.868971,0.369559,0.328852,0.729601,0.599606
9998,0.910525,0.853603,0.319290,0.355033,0.736236,0.317409,0.851974,0.509273,0.292660,0.286362,0.599417
9999,0.783931,0.124664,0.931927,0.413441,0.843920,0.792305,0.779253,0.674453,0.499447,0.389908,0.693350

In [37]:
df = pd.read_csv('D:/Amrita University/Final year project/New folder/synthetic_cognitive_ability_data.csv', header = None)
df

,0,1,2,3,4,5,6,7,8,9,10
0,memory_score,logic_score,attention_score,reaction_time,visual_accuracy,verbal_fluency,emotional_control,processing_speed,multitasking,task_switching,reward
1,0.3745401188473625,0.9507143064099162,0.7319939418114051,0.5986584841970366,0.15601864044243652,0.15599452033620265,0.05808361216819946,0.8661761457749352,0.6011150117432088,0.7080725777960455,0.49273699263100706
2,0.020584494295802447,0.9699098521619943,0.8324426408004217,0.21233911067827616,0.18182496720710062,0.18340450985343382,0.3042422429595377,0.5247564316322378,0.43194501864211576,0.2912291401980419,0.3061494375389891
3,0.6118528947223795,0.13949386065204183,0.29214464853521815,0.3663618432936917,0.45606998421703593,0.7851759613930136,0.19967378215835974,0.5142344384136116,0.5924145688620425,0.046450412719997725,0.3409785782446157
4,0.6075448519014384,0.17052412368729153,0.06505159298527952,0.9488855372533332,0.9656320330745594,0.8083973481164611,0.3046137691733707,0.09767211400638387,0.6842330265121569,0.4401524937396013,0.45879121179705473
...,...,...,...,...,...,...,...,...,...,...,...
9996,0.10850553119205109,0.2461228844273713,0.40344425374660553,0.7974051495752568,0.7769957583735215,0.24417747283949376,0.36125361802412703,0.05911197968968396,0.37839028247278705,0.1683251008646578,0.21098433567509117
9997,0.9195524389229851,0.8079977431646354,0.1650674957058813,0.4907694943460623,0.9583246990089386,0.41060583321870814,0.44808984590866874,0.34150540053170797,0.4922656673152932,0.5965650509314222,0.5690508964907877
9998,0.08995114919536185,0.09253113256200451,0.7690204497290527,0.982755317282473,0.4912436053121313,0.8613785668343124,0.8689710616978233,0.36955927287217394,0.3288521542125912,0.7296011143069668,0.5996063524347818
9999,0.9105249920631546,0.8536033845094201,0.3192903355526404,0.35503317670330803,0.7362360655885912,0.3174085235756222,0.8519735046817771,0.509272842184465,0.29265968510603935,0.28636156340283236,0.5994173636886724
10000,0.7839309281426454,0.12466359412959704,0.9319274262352588,0.41344057135329093,0.8439197566489333,0.7923048306654331,0.7792528951914924,0.6744534072962863,0.49944724466032764,0.3899084852770509,0.6933497625552515

In [38]:
df.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

In [39]:
df = pd.read_csv('D:/Amrita University/Final year project/New folder/synthetic_cognitive_ability_data.csv', usecols=[0,1,2,3,4])
df

,memory_score,logic_score,attention_score,reaction_time,visual_accuracy
0,0.374540,0.950714,0.731994,0.598658,0.156019
1,0.020584,0.969910,0.832443,0.212339,0.181825
2,0.611853,0.139494,0.292145,0.366362,0.456070
3,0.607545,0.170524,0.065052,0.948886,0.965632
4,0.122038,0.495177,0.034389,0.909320,0.258780
...,...,...,...,...,...
9995,0.108506,0.246123,0.403444,0.797405,0.776996
9996,0.919552,0.807998,0.165067,0.490769,0.958325
9997,0.089951,0.092531,0.769020,0.982755,0.491244
9998,0.910525,0.853603,0.319290,0.355033,0.736236
9999,0.783931,0.124664,0.931927,0.413441,0.843920

In [40]:
type(df)

pandas.core.frame.DataFrame

In [41]:
df

,memory_score,logic_score,attention_score,reaction_time,visual_accuracy
0,0.374540,0.950714,0.731994,0.598658,0.156019
1,0.020584,0.969910,0.832443,0.212339,0.181825
2,0.611853,0.139494,0.292145,0.366362,0.456070
3,0.607545,0.170524,0.065052,0.948886,0.965632
4,0.122038,0.495177,0.034389,0.909320,0.258780
...,...,...,...,...,...
9995,0.108506,0.246123,0.403444,0.797405,0.776996
9996,0.919552,0.807998,0.165067,0.490769,0.958325
9997,0.089951,0.092531,0.769020,0.982755,0.491244
9998,0.910525,0.853603,0.319290,0.355033,0.736236
9999,0.783931,0.124664,0.931927,0.413441,0.843920

In [42]:
df['memory_score']

0       0.374540
1       0.020584
2       0.611853
3       0.607545
4       0.122038
          ...
9995    0.108506
9996    0.919552
9997    0.089951
9998    0.910525
9999    0.783931
Name: memory_score, Length: 10000, dtype: float64

In [43]:
d = pd.Series([11,22,33],index=['number1','number2','number3'])
d

number1    11
number2    22
number3    33
dtype: int64

In [44]:
type(d)

pandas.core.series.Series

In [45]:
d['number2']

np.int64(22)

In [46]:
d.index

Index(['number1', 'number2', 'number3'], dtype='object')

In [47]:
d.reset_index(drop=True)

0    11
1    22
2    33
dtype: int64

In [48]:
pd.DataFrame(d)

          0
number1  11
number2  22
number3  33

In [49]:
df.shape

(10000, 5)

In [50]:
df.columns

Index(['memory_score', 'logic_score', 'attention_score', 'reaction_time',
       'visual_accuracy'],
      dtype='object')

In [51]:
list(df.columns)

['memory_score',
 'logic_score',
 'attention_score',
 'reaction_time',
 'visual_accuracy']

In [52]:
df.head(10)

   memory_score  logic_score  attention_score  reaction_time  visual_accuracy
0      0.374540     0.950714         0.731994       0.598658         0.156019
1      0.020584     0.969910         0.832443       0.212339         0.181825
2      0.611853     0.139494         0.292145       0.366362         0.456070
3      0.607545     0.170524         0.065052       0.948886         0.965632
4      0.122038     0.495177         0.034389       0.909320         0.258780
5      0.969585     0.775133         0.939499       0.894827         0.597900
6      0.388677     0.271349         0.828738       0.356753         0.280935
7      0.772245     0.198716         0.005522       0.815461         0.706857
8      0.863103     0.623298         0.330898       0.063558         0.310982
9      0.119594     0.713245         0.760785       0.561277         0.770967

In [53]:
df.tail(10)

,memory_score,logic_score,attention_score,reaction_time,visual_accuracy
9990,0.401063,0.515762,0.609962,0.299143,0.156733
9991,0.512339,0.107088,0.472974,0.745254,0.132728
9992,0.226069,0.263655,0.870089,0.743430,0.506248
9993,0.457268,0.948661,0.643269,0.679363,0.386905
9994,0.150233,0.022936,0.992158,0.647350,0.465801
9995,0.108506,0.246123,0.403444,0.797405,0.776996
9996,0.919552,0.807998,0.165067,0.490769,0.958325
9997,0.089951,0.092531,0.769020,0.982755,0.491244
9998,0.910525,0.853603,0.319290,0.355033,0.736236
9999,0.783931,0.124664,0.931927,0.413441,0.843920

In [54]:
# df.__rand__

In [55]:
df.sample(3)

,memory_score,logic_score,attention_score,reaction_time,visual_accuracy
8559,0.442394,0.698534,0.161468,0.752344,0.953411
6367,0.884578,0.960929,0.691365,0.808761,0.255120
1249,0.804396,0.207085,0.335914,0.134238,0.074173

In [56]:
df.values

array([[0.37454012, 0.95071431, 0.73199394, 0.59865848, 0.15601864],
       [0.02058449, 0.96990985, 0.83244264, 0.21233911, 0.18182497],
       [0.61185289, 0.13949386, 0.29214465, 0.36636184, 0.45606998],
       ...,
       [0.08995115, 0.09253113, 0.76902045, 0.98275532, 0.49124361],
       [0.91052499, 0.85360338, 0.31929034, 0.35503318, 0.73623607],
       [0.78393093, 0.12466359, 0.93192743, 0.41344057, 0.84391976]],
      shape=(10000, 5))

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   memory_score     10000 non-null  float64
 1   logic_score      10000 non-null  float64
 2   attention_score  10000 non-null  float64
 3   reaction_time    10000 non-null  float64
 4   visual_accuracy  10000 non-null  float64
dtypes: float64(5)
memory usage: 390.8 KB

In [58]:
df.dtypes

memory_score       float64
logic_score        float64
attention_score    float64
reaction_time      float64
visual_accuracy    float64
dtype: object

In [59]:
# pip install openpyxl

In [60]:
df1 = pd.read_excel('D:/Amrita University/Placements/Mostly asked Leetcode.xlsx')
df1

,Mostly Asked Technical Interview questions,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,S.No.,LeetCode Problems,Topic,Difficulty
2,NaN,NaN,NaN,NaN
3,1,Two Sum,Array,Easy
4,2,Two Sum - II,Array,Medium
...,...,...,...,...
104,93,Implement Trie (Prefix Tree),Tree,Medium
105,94,Add and Search Word,Trie,Medium
106,95,Word Search II,Trie,Hard
107,NaN,NaN,NaN,NaN
108,"Let's Code it, Let's Crack it - Dheeraj & Arv...",NaN,NaN,NaN

In [61]:
# pip install lxml

In [62]:
# pip install html5lib

In [63]:
# pip install beautifulsoup4

In [66]:
# df2 = pd.read_html("D:/Amrita University/SEM7/WEB Dev/f1/f1_game/templates/f1/f1_rules.html")
# df2