In [1]:
print('hello world')

hello world

In [2]:
from scipy import stats

### Example 1

- H0: Average age of the people marrying in India is 25
- H1: Average age of the people marrying in India is not 25
- Level of significance (alpha) : 0.05

In [3]:
age = [27,28,33,32,33,21,26,29,29,31,29]
stats.ttest_1samp(age, 25)

TtestResult(statistic=np.float64(3.6981124243265757), pvalue=np.float64(0.004121308365377809), df=np.int64(10))

- Result : Since p-vale < alpha, hence we will reject the null hypothesis and accept the alternate hypothesis.